/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header {
    position: relative;
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens no eixo horizontal */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px;
  }

  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
  }

  .link {
    font-size: 20px;
  }

  .icones {
    position: relative;
    top: -100px; /* Volta a posição do topo */
    right: -240px;
    width: auto; /* Remove o limite de largura */
    gap: 10px; /* Ajusta o espaçamento entre ícones */
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 580px) {
  .header {
    position: relative;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .logo {
    width: 150px; /* Reduz ainda mais o tamanho do logo */
  }

  .link {
    font-size: 20px;
  }

  .icones {
    position: absolute;
    top: 10px; /* Volta a posição do topo */
    right: 15px;
    width: auto; /* Remove o limite de largura */
    gap: 10px; /* Ajusta o espaçamento entre ícones */
  }

  .icones_dia,
  .icones_noite {
    width: 40px; /* Reduz tamanho dos ícones */
    height: 40px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    padding: 5px 10px;
  }

  .logo {
    width: 120px; /* Reduz ainda mais o tamanho do logo */
  }

  .link {
    font-size: 18px;
  }

  .icones {
    position: absolute;
    top: -100px; /* Volta a posição do topo */
    right: -160px;
    width: auto; /* Remove o limite de largura */
    gap: 5px; /* Ajusta o espaçamento entre ícones */
  }
}
