@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.header {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #07078a;
}

.logo {
  width: 305px;
  height: 70px;
  object-fit: contain;
}

.icones {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 110px;
}

.icones_dia,
.icones_noite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07078a; /* Cor de fundo */
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  position: relative;
}

.link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #07078a;
  margin: 0 10px;
  font-weight: 500;
  font-size: 25px;
}

.dia,
.noite {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  height: 100%;
  filter: invert(1) brightness(2);
}

.stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 520px;
  border: 2px solid darkgrey;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url("/assets/cartoes/ceus_estrelado.avif");
  background-position-y: bottom;
  animation: landscape 10s 1 ease-in-out both;
}

.avatar {
  width: 60%;
  position: relative;
  top: -35px;
  background-color: #ffffff99;
  box-shadow: #ffffff99 0px 5px 15px;
  border-radius: 50%;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  position: relative;
  top: -30px;
  box-shadow: #ffffff10 0px 5px 15px;
  border-radius: 10px;
  color: whitesmoke;
}

p {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -25px;
  color: whitesmoke;
}

span {
  font-size: 28px;
  font-weight: 400;
  position: relative;
  top: 30px;
  color: whitesmoke;
}

.foguete {
  animation: start 3s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes start {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
  top: 30px;
}

.logos {
  width: 35px;
  height: 35px;
  margin-top: 40px;
  object-fit: contain;
  transition: transform 0.3s;
  border-radius: 50%;
}

.logos:hover {
  transform: scale(1.2);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header {
    position: relative;
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza os itens no eixo horizontal */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px;
  }

  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 15px;
  }

  .icones {
    position: relative;
    top: -100px; /* Volta a posição do topo */
    right: -260px;
    width: auto; /* Remove o limite de largura */
    gap: 10px; /* Ajusta o espaçamento entre ícones */
  }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 580px) {
  .header {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .logo {
    width: 150px; /* Reduz ainda mais o tamanho do logo */
  }

  .icones {
    position: relative;
    top: -120px; /* Volta a posição do topo */
    right: -180px;
    width: auto; /* Remove o limite de largura */
    gap: 10px; /* Ajusta o espaçamento entre ícones */
  }

  .icones_dia,
  .icones_noite {
    width: 40px; /* Reduz tamanho dos ícones */
    height: 40px;
  }
}
